@using Presence.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Insira seu nome de usuário desejado.</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @required = "required", @maxlenght = "30" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" id="passwordSection">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @maxlenght = "30" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Admin)
                        @Html.ValidationMessageFor(model => model.Admin, "", new { @class = "text-danger" })
                        @Html.LabelFor(model => model.Admin, htmlAttributes: new { @class = "control-label" })
                    </div>

                </div>
            </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-primary" />
                    </div>
                </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#passwordSection').hide();
        $('#Admin').change(function () {
            if (this.checked) {
                $('#passwordSection').show();
                $('#Password').focus();
            }
            else
                $('#passwordSection').hide();
        });
    </script>
}